<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tipos de Transacción</h5>
            <form>
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <a href="#">
                            <button type="button" class="btn btn-success">Nueva Transacción</button>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <table id="tipotrans" class="display table table-striped table-bordered" >
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Afecta Saldo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Afecta Saldo</th>
                                <th>Acción</th>
                            </tr>
                        </tfoot>
                    </table>
                  </div>
                </div>
            </form>
        </div>
    </div>

</div>
