<div class="container">
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Cuentas Bancarias</h5>
            <form>
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <a [routerLink]="['/nueva-cuenbanc']">
                            <button type="button" class="btn btn-success">Nueva Cuenta</button>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Banco</th>
                                    <th>Nro Cuenta</th>
                                    <th>Tipo Cuenta</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Banco</th>
                                    <th>Nro Cuenta</th>
                                    <th>Tipo Cuenta</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
